.header-wrapper {
    background-color: #151515;

    .menu-bar-container {

        // z-index: 999;
        .menu-bar {
            // position: sticky;
            display: flex;
            // top: 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            color: white;
            position: sticky;
            top: 0;
            background-color: #151515;
            z-index: 1000;

            .logo {
                margin-right: auto;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                align-items: center;
                justify-content: center;
                list-style: none;
                gap: 20px;

                li {
                    a {
                        color: #aeaeae;
                        transition: all 0.5s ease-in-out;
                        text-decoration: none;

                        &:hover {
                            cursor: pointer;
                            color: white;
                        }
                    }
                }

            }

            .menu-icon {
                display: none;
                align-items: center;
                justify-content: center;
                margin: 0 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .side-bar-container {
        display: none;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #252525;
        padding: 30px 0;
        transition: right 0.5s ease-in-out;

        .side-bar {
            display: flex;

            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 20px;
            color: white;

            .logo {
                margin-right: auto;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                list-style: none;
                gap: 40px;

                li {
                    a {
                        color: white;

                        text-decoration: none;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

            }

            .menu-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media(max-width:960px) {
    .header-wrapper {
        .menu-bar-container {
            .menu-bar {

                ul {
                    display: none;
                }

                .menu-icon {
                    display: flex;
                }

            }
        }
    }
}