<header class="header-wrapper">
    <div class="menu-bar-container">
        <nav class="menu-bar">
            <div class="logo">
                <h1>CODEEASY</h1>
            </div>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Courses & Programs</li>
                <li>Success Stories</li>
                <li>Latest News & Resources</li>
                <li>Contact Us</li>
            </ul>
            <div class="menu-icon" (click)="showSideBar()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e3e3e3">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg>
            </div>
        </nav>
    </div>

    <div class="side-bar-container">
        <nav class="side-bar">
            <div class="menu-icon" (click)="hideSideBar()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#FFFFFF">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </div>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Courses & Programs</li>
                <li>Success Stories</li>
                <li>Latest News & Resources</li>
                <li>Contact Us</li>
            </ul>
        </nav>
    </div>
</header>