<div class="wrapper">
    <div class="hero-section">
        <section>
            <h1>Welcome to CODEEASY</h1>
            <h3>Your Premier Institute for STEM Education in Tumkur</h3>
            <h5>Master the most in-demand techincal skills with oyr professional certificate programs. Learn from
                industry experts and accelerate your career growth.</h5>
            <div>
                <button>
                    <span>Explore Courses</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                    </svg>
                </button>
            </div>
        </section>

    </div>


    <div class="we-and-aim">
        <div class="container">
            <div class="who-are-we">
                <div class="image">
                    <img src="images/who-are-we.png" alt="">
                </div>
                <h1>Who We Are ?</h1>
                <p>As Tumkur's premier institute, our mission is to nurture talent by providing interactive
                    STEM classes and comprehensive IT training programs.</p>
            </div>
            <div class="our-vision">
                <div class="image">
                    <img src="images/our-vision.png" alt="">
                </div>
                <h1>Our Vision</h1>
                <p>To equip our students with the skills needed for success in the digital age and tech industries.
                </p>
            </div>
        </div>
        <div class="button">
            <button>
                <span>Learn More About Us</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#FFFFFF">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                </svg>
            </button>
        </div>
    </div>
</div>